<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Local | Mega Yatzy </title>
    <link rel="stylesheet" type="text/css" href="/CSS/base.css">
</head>
<body>
    <h1> LOCAL LEADERBOARD </h1>

    <table>
        <tr>
            <% if (typeof header != 'undefined') { %>
                <% header.forEach (t => { %>
                    <th> <%= t.row %> </th>
                <% }) %>
            <% } %>
        </tr>
        <% if (typeof scores != 'undefined') { %>
            <% scores.forEach (t => { %>
                <tr>
                    <td> <%= t.score %> </td>
                    <td> <%= t.time %> </td>
                    <td> <%= t.date %> </td>
                </tr>
            <% }) %>
        <% } %>
    </table>

    <div class="center">
        <button class="sticky"> <a href="/user/menu"> Back </a> </button>
    </div>
</body>
</html>