<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Menu | Mega Yatzy </title>
    <link rel="stylesheet" type="text/css" href="/CSS/base.css">
</head>
<body>
    <h1> MAIN MENU </h1>

    <div class="center button-margin">
        <button> <a href="/user/main"> New game </a> </button>
    </div>

    <div class="center button-margin">
        <button> <a href="/user/tutorial"> Tutorial </a> </button>
    </div>

    <div class="center button-margin">
        <button> <a href="/user/local"> Local </a> </button>
    </div>

    <div class="center button-margin">
        <button> <a href="/user/global"> Global </a> </button>
    </div>

    <div class="center button-margin">
        <button> <a href="/logout"> Log out </a> </button>
    </div>
</body>
</html>