<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Menu | Mega Yatzy </title>
    <link rel="stylesheet" type="text/css" href="/CSS/base.css">
</head>
<body>
    <h1 class="title"> Main menu </h1>

    <div class="firstpart center">
        <button class="menu"> <a href="/user/main"> New game </a> </button>        
        <button class="menu"> <a href="/user/main"> Tutorial </a> </button>
    </div>

    <div class="secondpart center">
        <button class="menu"> <a href="/user/local"> Local </a> </button>    
        <button class="menu"> <a href="/user/global"> Global </a> </button>
    </div>
    
    <div class="center">
        <button class="menu"> <a href="/logout"> Settings </a> </button>
    </div>
    <div class="center">
        <button class="menu"> <a href="/logout"> Log out </a> </button>
    </div>
</body>
</html>