<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Menu | Mega Yatzy </title>
    <link rel="stylesheet" type="text/css" href="/CSS/base.css">
</head>
<body>
    <h1 class="title"> Main menu </h1>

    <div class="center">
        <button> <a href="/user/main"> New game </a> </button>
    </div>

    <div class="center">
        <button> <a href="/user/main"> Leaderboard </a> </button>
    </div>

    <div class="center">
        <button> <a href="/user/main"> Tutorial </a> </button>
    </div>

    <div class="center">
        <button> <a href="/logout"> Log out </a> </button>
    </div>
</body>
</html>