<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Tutorial | Mega Yatzy </title>
    <link rel="stylesheet" type="text/css" href="/CSS/base.css">
</head>
<body>
    <h1> TUTORIAL </h1>

    <div class="flex">
        <div class="section center">
            <h3> Roll die </h3>
            <p>
                To start a new game of Mega Yatzy, roll the die by clicking the "roll"-button.
                To simulate a realistic dieroll, the die will be assigned a random value from 1 to 6,
                and in some cases they will remain the same. You have a max amount of rolls each round,
                so use them carefully. If you don't use all your rolls in one round, they will be
                transferred to the next one.
            </p>
            <video autoplay muted loop>
                <source src="/Images/rolldie.mp4" type="video/mp4">
            </video>
        </div>
    </div>
        
    <div class="flex">
        <div class="section center">
            <h3> Lock die </h3>
            <p>
                If you are satisfied with the values of certain die, you can click the die in question,
                and if their background changes, their value will stay the same even when you click the
                "roll"-button again. To unlock them, simply click them again.
            </p>
            <video autoplay muted loop>
                <source src="/Images/lockdie.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    <div class="flex">
        <div class="section center">
            <h3> Choosing a value </h3>
            <p>
                If your die values include a pair, you can click the "Pairs" section and the pair options
                will be revealed. Then you can click "One pair". The option background will change, the
                die will be reset, the pair value will be added to the total pot, and (if you're not on
                mobile) you will be redirectedvback to the top to roll the die again.
            </p>
            <video autoplay muted loop>
                <source src="/Images/addscore.mp4" type="video/mp4">
            </video>
            
            <p>
                When you complete all options of a category, the category background will change and it
                will become unclickable, to make it easier for the player to know what is done.
            </p>
            <video autoplay muted loop>
                <source src="/Images/finishscore.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    <div class="flex">
        <div class="section center">
            <h3> END GAME </h3>
            <p>
                When you're done, click the "SUM"-button at the bottom, and the following will pop up.
                You will be shown your final score, and how long you were playing. If you want, you can
                add it to the leaderboards.
            </p>
            <img src="/Images/showscore.png">
        </div>
    </div>

    <div class="flex">
        <div class="section center">
            <h2> Score options </h2>

            <h3> Ones through Sixes </h3>
            <p> These add the respective sum of all die showing the value 1, 2, 3, 4, 5 and 6. </p>
            <img src="/Images/first.png">

            <h3> Pairs </h3>
            <p> These add the respective sum of die showing one, two and three pairs. </p>
            <img src="/Images/second.png">

            <h3> Kinds </h3>
            <p> These add the respective sum of die showing three, four and five kinds of the same value. </p>
            <img src="/Images/third.png">

            <h3> Straights </h3>
            <p>
                Small straight adds 15 points if your die include 1, 2, 3, 4 and 5.
                Big straight adds 20 points if your die include 2, 3, 4, 5 and 6.
                Full straight adds 21 points if your die include 1, 2, 3, 4, 5 and 6.
                The combinations do not need to be ordered, and die showing [1, 2, 3, 4, 5]
                and [5, 3, 1, 4, 2] are equally worth 15 points.
            </p>
            <img src="/Images/fourth.png">

            <h3> Settlements </h3>
            <p>
                Cottage adds the sum of a "one pair" and a "three of a kind".
                Villa adds the sum of two "three of a kind"s.
                Tower adds the sum of a "one pair" and a "four of a kind".

                It goes without saying that the combination values have to be different. The highest
                attainable value for a villa is 33 (6x3 + 5x3) rather than 36 (6x6).
            </p>
            <img src="/Images/fifth.png">

            <h3> Chance, Yatzy, and Straight Flush </h3>
            <p>
                Chance adds the sum of all die, a useful option if you cannot fulfill any other option.
                Yatzy adds the sum of all die if they are similar, and throws a 100 point bonus on top of that.
                Straight Flush is an ordered "big straight" (1, 2, 3, 4, 5, 6). It gives a fixed 150 points.
            </p>
            <img src="/Images/sixth.png">
        </div>
    </div>

    <div class="flex">
        <div class="section center">
            <h3> FAQS </h3> <br>

            <p> <strong> Q: How exactly are the passwords protected? </strong> </p>
            <p>
                The passwords are salted and hashed, with multiple layers of encryption before they are
                stored in the database. Despite this I would still encourage you to have a strong password.
            </p> <br>

            <p> <strong> Q: I'm out of rolls, but my dice don't meet any of the section criteria! </strong> </p>
            <p>
                You will have to sacrifice a section. Click the section you want to "waste",
                and you will get 3 new rolls for a new round. In my experience, it's best to cross off
                values like "big straight" and "three pairs" when met with this ultimatum. If you can get
                an extra 4, 5 or 6 when going for "Ones through Sixes", you can cross off "ones" and still
                get the bonus.
            </p> <br>

            <p> <strong> Q: I have multiple pair values in my dice, how can I choose the biggest ones? </strong> </p>
            <p>
                You will always be awarded the highest possible sum. If you have two fives and two threes,
                the program will award you 10 points rather than 6. No need for any mental arithemtics :)
            </p> <br>

            <p> <strong> Q: What happens if multiple users get the same high score? </strong> </p>
            <p>
                The global leaderboard is sorted by 1. score, and 2. time spent. If two user have the same
                exact score and spent the same exact time playing, the user who got there first will be shown
                on top. The best score you can get is 819.
            </p>
        </div>
    </div>

    <div class="center sticky">
        <button> <a href="/user/menu"> Back </a> </button>
    </div>
</body>
</html>