body{
    background: #e0dbcd;
    color: #010103;
}

h1{
    margin: 0 0 50px;
    text-align: center;
    font-size: 70px;
    font-family: 'Arial Black';
}


/* Tutorial relevant */
.flex{
    display: flex;
    justify-content: center;
}

.section{
    width: 80%;
    border: 1px groove #f5f5f5;
    border-radius: 5px;
    
    margin-bottom: 30px;
    padding: 10px;
}

.section h2{
    font-size: 50px;
    margin-bottom: 0;
}

.section h3{
    font-size: 45px;
    margin-bottom: 0;
}

.section p{
    font-size: 25px;
}

video{
    width: 600px;
    height: 300px;
}

img{
    width: 600px;
}



/* Leaderboard table */
table{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

table tr th{
    padding: 0 50px;
}

table tr td{
    border: 1px groove #f5f5f5;
    border-radius: 5px;
}


/* Leaderboard podium */
.gold{
    color: gold;
    text-shadow: -1px -1px 0 #010103, 1px -1px 0 #010103, -1px 1px 0 #010103, 1px 1px 0 #010103;
}

.silver{
    color: silver;
    text-shadow: -1px -1px 0 #010103, 1px -1px 0 #010103, -1px 1px 0 #010103, 1px 1px 0 #010103;
}

.bronze{
    color: #CD7F32;
    text-shadow: -1px -1px 0 #010103, 1px -1px 0 #010103, -1px 1px 0 #010103, 1px 1px 0 #010103;
}


/* Messages */
ul li{
    list-style: none;
    font-size: 25px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

#fail ul li{
    color: red;
}

#success ul li{
    color: green;
}


/* Login */
.login{
    display: block;
    text-align: center;
}

.login input{
    text-align: center;
    font-size: 40px;

    width: 50%;
    background: inherit;
    border: none;
    border-bottom: 3px groove #010103;
    margin-bottom: 30px;
}

.login input:focus{
    outline:none;
}


/* Buttons */
button{
    cursor: pointer;
    font-size: 30px;
    font-family: 'Arial Black';
    border-radius: 5px;
    margin: 30px 0 0;
    width: 40%;
}

button a{
    color: #010103;
    text-decoration: none;
}


/* Helper classes */
.center{
    text-align: center;
}

.sticky{
    position: sticky;
    bottom: 10px;
}




/*   Adjustments for mobile   */
@media only screen and (max-device-width: 450px) {
    .title{
        font-size: 100px;
    }

    button{
        font-size: 60px;
        width: 80%;
    }

    .login input{
        font-size: 90px;
        width: 90%;
    }

    .gold{
        text-shadow: -2px -2px 0 #010103, 2px -2px 0 #010103, -2px 2px 0 #010103, 2px 2px 0 #010103;
    }

    .silver{
        text-shadow: -2px -2px 0 #010103, 2px -2px 0 #010103, -2px 2px 0 #010103, 2px 2px 0 #010103;
    }

    .bronze{
        text-shadow: -2px -2px 0 #010103, 2px -2px 0 #010103, -2px 2px 0 #010103, 2px 2px 0 #010103;
    }

    .section h3{
        font-size: 60px;
    }

    video{
        width: 750px;
        height: 375px;
    }

    img{
        width: 750px;
    }
}