body {
    background: #e0dbcd;
    color: #010103;
}

.title{
    margin: 0 0 50px;
    text-align: center;
    font-size: 70px;
    font-family: 'Arial Black';
}


/* Messages */
ul li{
    list-style: none;
    font-size: 25px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

#fail ul li{
    color: red;
}

#success ul li{
    color: green;
}



/* Login */
.login{
    display: block;
    text-align: center;
}

.login input{
    text-align: center;
    font-size: 40px;

    width: 50%;
    background: inherit;
    border: none;
    border-bottom: 3px groove #010103;
    margin-bottom: 30px;
}

.login input:focus{
    outline:none;
}


/* Buttons */
button{
    cursor: pointer;
    font-size: 30px;
    font-family: 'Arial Black';
    border-radius: 5px;
    margin: 30px 0 0;
}

button a{
    color: #010103;
    text-decoration: none;
}

.bottom-btn button{
    margin-top: 30px;
    background: #e0dbcd;
    border: 3px solid #2c2d2b;
}


/* Helper to center elements within a div */
.center{
    text-align: center;
}




/*   Adjustments for mobile   */
@media only screen and (max-device-width: 450px) {
    .title{
        font-size: 100px;
    }

    button{
        font-size: 60px;
    }

    .login input{
        font-size: 90px;
        width: 90%;
    }

    ul li{
        font-size: 60px;
    }
}